{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <h1>Les séries par catégorie : {{ category.name}}</h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} - Série : {{ program.title}}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('category_index') }}">
        Retour aux catégories
    </a>
{% endblock %}