{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'welcome'|trans }}</h1>
    <h2>{{ 'last.programs'|trans }} :</h2>
    {% for program in programs %}
        <div>
            <h2>{{ program.title }} - {{ 'category'|trans }} : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}">{{ 'see'|trans }} </a>
        </div>
    {% endfor %}

{% endblock %}