{% extends 'base.html.twig' %}

{% block title %}Acteurs
{% endblock %}

{% block body %}
	<h1>{{ 'index.actors'|trans }}
	</h1>
	{% for actor in actors %}
		<div>
			<p>{{ loop.index }} / <a href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }}</a>
			</p>
		</div>
	{% else %}
		{{ 'no.program'|trans }}
	{% endfor %}
{% endblock %}
