{% extends 'base.html.twig' %}
{% block title %}
	{{ actor.name }}
{% endblock %}

{% block body %}
	<div>
		<h2>{{ actor.name}}</h2>
		<div>
			<strong>Cet acteur joue dans ces séries :</strong>
			<ul>
				{% for program in actor.programs %}
					<li>
						<a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a>
					</li>
				{% else %}
					<li>{{ 'no.program.actor'|trans }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="media">
			<img class="align-self-start mr-3 size-img-actor" src="/uploads/{{ actor.picture }}" alt="{{ actor.name }}">
		<div class="media-body">
		<a href="{{ path('actor_edit', {'id': actor.id}) }}">Modifier</a>
		<a href="{{ path('actor_index') }}">
			{{ 'return.actors'|trans }}
		</a>
	{% endblock %}
