<nav class="navbar navbar-expand-lg navbar-light">
	<a class="navbar-brand nav-style" href="{{ path('app_index') }}">WILD SERIES</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link nav-style" href="{{ path('app_index') }}">{{ 'home'|trans }}
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					SERIES
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ path('program_index') }}">{{ 'all.programs'|trans }}</a>
					<a class="dropdown-item" href="{{ path('program_new') }}">{{ 'add.program'|trans }}</a>
					<a class="dropdown-item" href="{{ path('season_index') }}">{{ 'all.seasons'|trans }}</a>
					<a class="dropdown-item" href="{{ path('episode_index') }}">{{ 'all.episods'|trans }}</a>
				</li>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					CATEGORIES
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ path('category_index') }}">{{ 'all.categories'|trans }}</a>
					<a class="dropdown-item" href="{{ path('category_new') }}">{{ 'add.category'|trans }}</a>
				</li>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-style" href="{{ path('actor_index') }}">{{ 'actors'|trans }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-style" href="#">{{ 'favorites'|trans }}</a>
			</li>
			<li class="nav-item">
				{% if app.user %}
				{% trans with {'%username%': app.user.email} %}
					hello_username
				{% endtrans %}
					<a class="nav-link nav-style" href="{{ path('app_logout') }}">{{ 'account.logout'|trans }}</a>
				{% else %}
					<a class="nav-link nav-style" href="{{ path('app_login')}}">{{ 'account.login'|trans }}</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if app.user %}
					<a class="nav-link nav-style" href="{{ path('app_profile') }}">{{ 'my.account'|trans }}</a>
				{% else %}
					<a class="nav-link nav-style" href="{{ path('app_register') }}">{{ 'create.account'|trans }}</a>
				{% endif %}
			</li>
			<li class="nav-item">
        		<a class="nav-link" href="{{ path('app_index', {'_locale':'en'}) }}">EN</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_index', {'_locale':'fr'}) }}">FR</a>
			</li>
		</ul>
	</div>
</nav>
